<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="TbYQcommentMapping">
	<!-- 字段值 -->
	<sql id="TbYQcomment">
		yqcid, yqid, uid, yqccontent, datetime
	</sql>
	
	<!--表名 -->
	<sql id="TbYQcommenttable">
		tb_yqcomment
	</sql>
	<sql id="usersTable">
		tb_user
	</sql>
	
	<!--  根据舆情id查询评论信息 -->
	<select id="getYqcomment" parameterType="pd" resultType="TbYqcomment">
		select co.yqcid as yqcid,
		co.yqid as yqid,
		co.uid as uid, 
		co.yqccontent as yqccontent,
		co.datetime as datetime,
		us.headimg as headimg,
		us.uname as uname
		from (<include refid="TbYQcommenttable"/>co left join<include refid="usersTable"/>us on co.uid=us.uid)
		where co.yqid=#{yqid}
	</select>
	
	
	<!--  根据舆情评论id查询评论具体信息 -->
	<select id="getYqccontent" parameterType="pd" resultType="TbYqcomment">
		select co.yqcid as yqcid,
		co.yqid as yqid,
		co.uid as uid, 
		co.yqccontent as yqccontent,
		co.datetime as datetime,
		us.headimg as headimg,
		us.uname as uname
		from (<include refid="TbYQcommenttable"/>co left join<include refid="usersTable"/>us on co.uid=us.uid)
		where co.yqcid=#{yqcid}
	</select>
	
	<!-- 增加评论 -->
	<insert id="addYqcomment" parameterType="pd">
	insert
	into <include refid="TbYQcommenttable"></include>
	(
	yqcid,
	yqid,
	uid,
	yqccontent,
	datetime
	)
	values(
	#{yqcid},
	#{yqid},
	#{uid},
	#{yqccontent},
	#{datetime}
	)
	</insert>
	
	<!-- 删除评论 -->
	<delete id="delYqcomment" parameterType="pd">
	delete from <include refid="TbYQcommenttable"></include>
	where yqcid=#{yqcid} 
	</delete>
	
	</mapper>